<!-- Inserted fix-->
<script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script> 

<h4>This is a basic search component which connects solr to fetch search results</h4>
<input type="text" id="search-box" />
<input type="button" id="search-button" value="Search"/>
<div id="search-result"></div>
<br>
<script type="application/javascript">
    $( document ).ready(function() {
        $("#search-button").click(function(){
            $("#search-result").empty();
            if($("#search-box").val() == null){
                alert("please enter the search term");
            }
            else{
                var searchTerm = $("#search-box").val();
                 $.ajax({
                     url: "http://localhost:8983/solr/collection/select?q="+searchTerm+"&wt=json",
                     dataType: "jsonp",
                     jsonp: 'json.wrf',
                     success: function(result){
                         console.log(result);
                         var numResultsFound = result.response.numFound;
                         if( numResultsFound > 0){
                             $("#search-result").append("<h4> Search results: </h4>");
                             $("#search-result").append("<h5>"+numResultsFound+" found for the search term"+searchTerm+"</h5>");
                             $.each(result.response.docs, function( index, value ) {
                                 var link = "<a href='"+value.url[0]+"'>"+value.title+"</a>";
                                 console.log(link);                                  
                                 $("#search-result").append(link+"<br>");                             
                             });
                         }
                         else{
                              $("#search-result").append("<h4> No results found for search term "+searchTerm+" </h4>"); 
                         }
                     },
                     error: function(){
                         $("#search-result").append("Something went wrong :( ");
                     }
                 });

            }
        });
    });
</script>